{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-12 header-container">
            <h1>{{ post.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% if post.image %}
                <img src="/media/{{ post.image }}" width="200px" height="200px">
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 blog-container">
            <p>{{ post.content }}</p>
            <p><button class="btn page-button" onclick="location.href='/blog'">Back To Blog</button></p>
            {% if user.is_staff %}
            <p><button class="btn staff-button" onclick="location.href='edit'">Edit Blog</button></p>
            {% endif %}
            <p><strong>Published: </strong>{{ post.published_date }}| <strong>Views:</strong> {{ post.views }}| <strong>Tag:</strong> {{ post.tag }}</p>
            {% load disqus_tags %}
            {% set_disqus_title post.title %}
            {% disqus_show_comments %}
        </div>
    </div>
{% endblock %}